*{
    margin: 0;
    padding: 0;
}
.maim{
    width: 100px;
    background: linear-gradient(to top,rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%),url("C:\Users\Asus\Pictures\1.jpg")
    background-position: center;
    background-size:cover;
    height: 100px;
}
.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
}
.icon{
    width: 200px;
    float:left;
    height: 70px;
}
.logo{
    color: #ff7200;
    font-size: 35px;
    font-family: Arial;
    padding-left: 20px;
    float:left;
    padding-top: 10px;
}
.menu{
    width: 400px;
    float:left;
    height: 70px;

}
ul{
    float:left;
    display:flex;
    justify-content:center;
    align-items: center;

}
ul li{
    list-style:none;
    margin: left 62px;
    margin: top 27px;
    font: size 14px;

}
ul li a{
    text-decoration: none;
    color:#ffff;
    font-family:arial;
    font-weight: bold;
    transition:0.4s ease-in-out;

}
ul li a:hover{
    color:#ff7200;

}
.search{
    width: 330px;
    float:left;
    margin-left: 270px;

}
.srch{
    font-family: 'times new Roman';
    width: 200px;
    height: 40px;
    background: transparent;
    border: 1px orange;
    margin-top: 13px;
    color:white;
    border-right: none;
    font-size: 16px;
    float:left;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border- bottom left radius 5px;
}
.btn{
    width:100%;
    height: 40px;
    background: #ff7200;
    border:2px solid #ff7200;
    margin: top 13px;
    color:#ffff;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;

}
.btn:focus{
    outline:none;

}
.srch:focus{
    outline:none;

}
.content{
    width: 1200px;
    height:auto;
    margin:auto;
    color:#ffff;
    position:relative;

}
.content.par{
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: arial;
    letter-spacing: 1.2px;
    line-height: 30px;

}
.content h1{
    font-family: 'times New Roman';
    font-size: 50px;
    padding-left: 20px;
    margin: top 9px;
    letter-spacing: 2px;

}
.content.cn{
    width: 160px;
    height:40px;
    background: #ff7200;
    border:none;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 18px;
    border-radius: 10px;
    cursor:pointer;

}
.content.cn a{
    
}